.data-table{
  .bottom{
    @apply align-middle inline-block min-w-full bg-white px-8 py-3 border rounded-bl-lg rounded-br-lg;
    table{
      thead{
        tr{
          th{
            @apply px-6 py-3 border-b-2 leading-4 tracking-wider text-sm;
          }
        }
      }
      tbody{
        tr{
          .non-id{
            @apply px-6 py-4 whitespace-no-wrap border-b text-black text-sm leading-5;
          }
        }
      }
    }
  }
}