.input-group{
  label{
    display: block;
    font-size: .875rem;
  }

  input[type='text'], 
  input[type='file'], 
  input[type='email'], 
  input[type='password'], 
  input[type='datetime-local'],  
  input[type='date'],  
  input[type='number'],  
  select, 
  textarea{
    @apply shadow rounded w-full py-2 px-3 outline-none border mb-2 bg-white;
  }

  input[type='text']:focus, 
  input[type='file']:focus, 
  input[type='email']:focus, 
  input[type='password']:focus, 
  input[type='datetime-local']:focus, 
  input[type='date']:focus, 
  input[type='number']:focus, 
  select:focus, 
  textarea:focus{
    
  }
  
}

.error-msg{
  @apply text-red-600 text-xs italic;
}

.success-msg{
  @apply text-green-600 text-xs italic;
}
