.navbar-list{
  @apply  p-2 pl-4 my-1 mx-2 rounded-lg; 

  a{
    i{
      @apply text-gray-600;
    }
    span{
      @apply text-gray-600;
      i{
        @apply text-gray-600;
      }
    }
  }
}

.navbar-active-list{
  @apply bg-primary p-2 pl-4 my-1 mx-2 rounded-lg; 
  a{
    i{
      @apply text-white;
    }
    span{
      @apply text-white;
      i{
        @apply text-white;
      }
    }
  }
}