/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 24px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(87, 87, 87);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(65, 64, 64);
}