@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@tailwind base;
@tailwind components; 
@tailwind utilities;

html,body{
  @apply p-0 text-black;
}

.card{
  @apply max-w-sm rounded overflow-hidden shadow-lg p-2 bg-white mb-6;
  .card-header{
    padding: 1rem 0;
    border-bottom: 2px solid rgb(231, 236, 240);
    p{
      font-weight: bold;
    }
  }
  .card-body{

  }
}

.input-group{
  
  @apply my-4;

  label{
    display: block;
  }

  input[type='text'], input[type='file'], textarea{
    @apply shadow rounded w-full py-2 px-3 outline-none border;
  }

  input[type='checkbox']{
    @apply h-10 w-full;
  }
  
}

.navbar-list{
  @apply  p-2 pl-4 my-1 mx-2 rounded-lg; 

  a{
    i{
      @apply text-gray-500;
    }
    span{
      @apply text-gray-500;
      i{
        @apply text-gray-500;
      }
    }
  }
}

.navbar-list:hover{
  @apply bg-dark-100; 
  a{
    i{
      @apply text-white;
    }
    span{
      @apply text-white;
      i{
        @apply text-white;
      }
    }
  }
}

.navbar-active-list{
  @apply bg-primary p-2 pl-4 my-1 mx-2 rounded-lg; 
  a{
    i{
      @apply text-white;
    }
    span{
      @apply text-white;
      i{
        @apply text-white;
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 24px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(87, 87, 87);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(65, 64, 64);
}

// @variants group-hover, hover, focus {
//   .nav-item {
//     @apply text-primary;
//   }
// }


// scroll-bar::-webkit-scrollbar {
//   width: 10px;
//   height: 10px;
// }
// scroll-bar::-webkit-scrollbar-button {
//   width: 76px;
//   height: 76px;
// }
// scroll-bar::-webkit-scrollbar-thumb {
//   background: #ffbb29;
//   border: 0px none #ffffff;
//   border-radius: 100px;
// }
// scroll-bar::-webkit-scrollbar-thumb:hover {
//   background: #ffbb29;
// }
// scroll-bar::-webkit-scrollbar-thumb:active {
//   background: #ffbb29;
// }
// scroll-bar::-webkit-scrollbar-track {
//   background: #2e2e2e;
//   border: 0px none #ffffff;
//   border-radius: 100px;
// }
// scroll-bar::-webkit-scrollbar-track:hover {
//   background: #2e2e2e;
// }
// scroll-bar::-webkit-scrollbar-track:active {
//   background: #242424;
// }
// scroll-bar::-webkit-scrollbar-corner {
//   background: transparent;
// }
