@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@tailwind base;

html,body{
  @apply p-0 text-black;
}

button{
  @apply p-2 bg-green-300 rounded-lg;  
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

@tailwind components; 
@tailwind utilities;

.card{
  @apply max-w-sm rounded overflow-hidden shadow-lg p-2 bg-white mb-6;
  .card-header{
    padding: 1rem 0;
    border-bottom: 2px solid rgb(231, 236, 240);
    p{
      font-weight: bold;
    }
  }
  .card-body{

  }
}

.input-group{
  label{
    display: block;
    font-size: .875rem;
  }

  input[type='text'], input[type='file'], textarea{
    @apply shadow rounded w-full py-2 px-3 outline-none border mb-2;
  }

  input[type='checkbox']{
    @apply h-10 w-full;
  }
  
}

.navbar-list{
  @apply  p-2 pl-4 my-1 mx-2 rounded-lg; 

  a{
    i{
      @apply text-gray-500;
    }
    span{
      @apply text-gray-500;
      i{
        @apply text-gray-500;
      }
    }
  }
}

.navbar-list:hover{
  @apply bg-dark-100; 
  a{
    i{
      @apply text-white;
    }
    span{
      @apply text-white;
      i{
        @apply text-white;
      }
    }
  }
}

.navbar-active-list{
  @apply bg-primary p-2 pl-4 my-1 mx-2 rounded-lg; 
  a{
    i{
      @apply text-white;
    }
    span{
      @apply text-white;
      i{
        @apply text-white;
      }
    }
  }
}

.article-form{
  .article-right{
    @apply bg-white border-l;
    
    section{
      @apply py-2 px-3 border-b rounded;
    }
    section:hover{
      background-color: rgb(231, 239, 245);
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 24px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(87, 87, 87);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(65, 64, 64);
}

// @variants group-hover, hover, focus {
//   .nav-item {
//     @apply text-primary;
//   }
// }


// scroll-bar::-webkit-scrollbar {
//   width: 10px;
//   height: 10px;
// }
// scroll-bar::-webkit-scrollbar-button {
//   width: 76px;
//   height: 76px;
// }
// scroll-bar::-webkit-scrollbar-thumb {
//   background: #ffbb29;
//   border: 0px none #ffffff;
//   border-radius: 100px;
// }
// scroll-bar::-webkit-scrollbar-thumb:hover {
//   background: #ffbb29;
// }
// scroll-bar::-webkit-scrollbar-thumb:active {
//   background: #ffbb29;
// }
// scroll-bar::-webkit-scrollbar-track {
//   background: #2e2e2e;
//   border: 0px none #ffffff;
//   border-radius: 100px;
// }
// scroll-bar::-webkit-scrollbar-track:hover {
//   background: #2e2e2e;
// }
// scroll-bar::-webkit-scrollbar-track:active {
//   background: #242424;
// }
// scroll-bar::-webkit-scrollbar-corner {
//   background: transparent;
// }
