.article-md{
  img{
    height: 16rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: .5rem;
  }

  .info{
    @apply flex flex-col;
    .title{
      @apply font-semibold;
      max-height: 3rem;
      line-height: 1.5rem;
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
    }

    .description{
      @apply text-sm;
      max-height: 3rem;
      line-height: 1.5rem;
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
    }

    .extra{
      @apply flex-1 text-gray-800 font-light overflow-hidden;
    }
  }
}

.article-sm{
  @apply flex mb-4 items-center;
  .info{
    @apply flex flex-col;
    .title{
      @apply font-semibold;
      max-height: 4rem;
      line-height: 2rem;
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
    }

    .description{
      @apply text-sm;
      height: 3rem;
      line-height: 1.5rem;
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
    }
  }
}