#back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

// #back-to-top:hover {
//   cursor: pointer;
//   background-color: #333;
// }
// #back-to-top:active {
//   background-color: #555;
// }
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}