.input-group{
  label{
    display: block;
    margin-bottom: .2rem;
  }

  input[type='text'], 
  input[type='file'], 
  input[type='email'], 
  input[type='password'], 
  input[type='datetime-local'],  
  input[type='date'],  
  input[type='number'],  
  select, 
  textarea{
    @apply py-2 px-3 outline-none border border-black mb-1 bg-white text-sm;
  }

  input[type='text']:focus, 
  input[type='file']:focus, 
  input[type='email']:focus, 
  input[type='password']:focus, 
  input[type='datetime-local']:focus, 
  input[type='date']:focus,  
  input[type='number']:focus,  
  select:focus, 
  textarea:focus{
    @apply  bg-white;
  }
  
}

.error-msg{
  @apply text-xs text-red-600 italic;
}

.success-msg{
  @apply text-xs text-green-600 italic;
}