.facebook-color{
  color: #3b5998;
}

.twitter-color{
  color: #00acee;
}

.whatsapp-color{
  color: #25D366;
}

.instagram-color{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linkedin-color{
  color: #0e76a8;
}

.youtube-color{
  color: #FF0000;
}
.discord-color{
  color: #7289DA;
}