@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

// $fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import '~@fortawesome/fontawesome-free/scss/solid';
// @import '~@fortawesome/fontawesome-free/scss/regular';

@tailwind base;

html,body{
  @apply p-0 text-black;
}

button{
  @apply p-2 rounded-lg;  
}

// button{
//   @apply p-2 bg-green-300 rounded-lg;  
// }

h1              { font-size: 2em; }
h2              { font-size: 1.5em; }
h3              { font-size: 1.17em;  }
h5              { font-size: .83em;  }
h6              { font-size: .75em; }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

@tailwind components; 
@tailwind utilities;

.card{
  @apply max-w-sm rounded overflow-hidden shadow-lg p-6 bg-white mb-6;
  .card-header{
    padding: 1rem 0;
    border-bottom: 2px solid rgb(231, 236, 240);
    p{
      font-weight: bold;
    }
  }
  .card-body{

  }
}

.input-group{
  label{
    display: block;
    font-size: .875rem;
  }

  input[type='text'], 
  input[type='file'], 
  input[type='email'], 
  input[type='password'], 
  input[type='datetime-local'],  
  select, 
  textarea{
    @apply shadow rounded w-full py-2 px-3 outline-none border mb-2 bg-white;
  }

  input[type='text']:focus, 
  input[type='file']:focus, 
  input[type='email']:focus, 
  input[type='password']:focus, 
  input[type='datetime-local']:focus, 
  select:focus, 
  textarea:focus{
    @apply border-blue-400;
  }
  
}

.header {
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #b5d9e9;
  width: 0%;
}

