@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

// $fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import '~@fortawesome/fontawesome-free/scss/solid';
// @import '~@fortawesome/fontawesome-free/scss/regular';

@tailwind base;

html,body{
  @apply p-0 text-black;
}

button{
  @apply p-2;  
}

h1              { font-size: 2em; }
h2              { font-size: 1.5em; }
h3              { font-size: 1.17em;  }
h5              { font-size: .83em;  }
h6              { font-size: .75em; }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

@tailwind components; 
@tailwind utilities;

.card{
  @apply max-w-sm rounded-lg overflow-hidden shadow-lg bg-white mb-6;
  .card-header{
    padding: 0;
    border-bottom: 2px solid rgb(231, 236, 240);
    p{
      font-weight: bold;
    }
  }
  .card-body{

  }
}

.input-group{
  label{
    display: block;
    font-size: .875rem;
  }

  input[type='text'], 
  input[type='file'], 
  input[type='email'], 
  input[type='password'], 
  input[type='datetime-local'],  
  select, 
  textarea{
    @apply shadow border-black py-2 px-3 outline-none border mb-2 bg-white;
  }

  input[type='text']:focus, 
  input[type='file']:focus, 
  input[type='email']:focus, 
  input[type='password']:focus, 
  input[type='datetime-local']:focus, 
  select:focus, 
  textarea:focus{
    @apply border-black;
  }
  
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

// <navbar>
.header {
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #53798a;
  width: 0%;
}

.navbar{
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 100;
  transition: ease 0.3s;
  -webkit-box-shadow: 0px 1px 12px -22px rgba(0,0,0,0.72);
  -moz-box-shadow: 0px 1px 12px -22px rgba(0,0,0,0.72);
  box-shadow: 0px 1px 12px -22px rgba(0,0,0,0.72);

  .search-box{
    @apply flex items-center relative ;

    input{
      @apply outline-none pr-4 border-b border-black ;
    }

    i{
      @apply text-sm text-black cursor-pointer;
    }
  }
}

// <article show>
.article-md{
  img{
    height: 16rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: .5rem;
  }

  .info{
    @apply flex flex-col;
    .title{
      @apply font-semibold;
      max-height: 3rem;
      line-height: 1.5rem;
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
    }

    .description{
      max-height: 3rem;
      line-height: 1.5rem;
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
    }

    .extra{
      @apply flex-1 text-gray-800 font-light overflow-hidden;
    }
  }
}

.article-sm{
  .info{
    @apply flex flex-col;
    .title{
      @apply font-semibold;
      max-height: 4rem;
      line-height: 2rem;
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
    }

    .description{
      height: 3rem;
      line-height: 1.5rem;
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
    }
  }
}

.article-show{
  .left{
    .left-sticky{
      top:8rem;
      position: -webkit-sticky;
      position: sticky;
    }

    .share{
  
      .social-container{
        @apply border border-gray-500 rounded-full h-10 w-10 flex items-center justify-center my-2;
      }

    }

    .action{

    }

  }

  .right{
    .right-sticky{
      top:8rem;
      position: -webkit-sticky;
      position: sticky;
    }
    
    .next-article{
      img{
        height: 7rem;
        width: 7rem;
        object-fit: cover;
      }

      .info{
        @apply px-4 py-2 flex flex-col h-32;
        .title{
          @apply font-light text-sm;
          height: 3.6em;
          text-align: center;
          line-height: 1.8em;
          display: block;
          text-overflow: ellipsis;
          word-wrap: break-word;
          overflow: hidden;
          padding: 0 2rem;
        }
  
        .extra{
          @apply flex-1 text-gray-800 font-light;
        }
      }
    }
  }

  .center{
    .iframe-container {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;
    }
    
    .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      min-width: 100%;
      height: 100%;
    }
  }
}

.home-index{
  .article-sm{
    .info{
      @apply flex flex-col;
      .title{
        @apply font-semibold;
        max-height: 4rem;
        line-height: 2rem;
        display: block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
      }

      .description{
        height: 3rem;
        line-height: 1.5rem;
        display: block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
      }
    }
  }

  .right-sticky{
    position: sticky;
    top: 6rem;
  }
}

.search{
  .search-box{
    @apply flex items-center relative;

    i{
      @apply text-xl absolute text-gray-700 right-0 cursor-pointer;
      right: 1rem;
      top: .8rem;
    }
  }

  .search-article{
    img{
      height: 16rem;
      width: 100%;
      object-fit: cover;
      margin-bottom: .5rem;
    }

    .info{
      @apply flex flex-col justify-between;
        .title{
          @apply font-semibold;
          max-height: 3rem;
          line-height: 1.5rem;
          display: block;
          text-overflow: ellipsis;
          word-wrap: break-word;
        }
  
        .description{
          height: 3rem;
          line-height: 1.5rem;
          display: block;
          text-overflow: ellipsis;
          word-wrap: break-word;
        }

      .extra{
        @apply flex-1 text-gray-800 font-light overflow-hidden;
      }
    }
  }
}

.bookmark-display{
  .info{
    @apply flex flex-col justify-between;
      .title{
        @apply font-semibold;
        max-height: 3rem;
        line-height: 1.5rem;
        display: block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
      }

      .description{
        max-height: 3rem;
        line-height: 1.5rem;
        display: block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
      }

    .extra{
      @apply flex-1 text-gray-800 font-light overflow-hidden;
    }
  }
}
// </article show>

.author-show{
  .author-profile{
    position: absolute;
    bottom: -4rem;
  }
}


