@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@tailwind base;

body{
  @apply font-roboto;
  padding: 0;
  color : black;
  letter-spacing: 1px;
}

button{
  padding: .5rem;

  // &:hover{
  //   background-color: rgb(119, 101, 224);
  // }

  // &:focus{
  //   outline: none;
  //   box-shadow: 0 0 0 3px rgba(107, 76, 245, 0.733);
  // }
}

// h1              { font-size: 2em; }
// h2              { font-size: 1.5em; }
// h3              { font-size: 1.17em;  }
// h5              { font-size: .83em;  }
// h6              { font-size: .75em; }
// h1, h2, h3, h4,
// h5, h6          { font-weight: bolder }

@tailwind components; 
@tailwind utilities;

//Pages
@import 'pages/home';
@import 'pages/author';
@import 'pages/article-inner';

//Partials
@import 'partials/_input-group';
@import 'partials/_progress-bar';
@import 'partials/_swiper-js';
@import 'partials/_navbar';
@import 'partials/_footer';
@import 'partials/_card';
@import 'partials/_social_color';
@import 'partials/_search-component';
@import 'partials/_article-component';
@import 'partials/_bookmark-component';
@import 'partials/comment-component';

//Fontawesome
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';





