@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

// $fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import '~@fortawesome/fontawesome-free/scss/solid';
// @import '~@fortawesome/fontawesome-free/scss/regular';

@tailwind base;

html,body{
  @apply p-0 text-black;
}

button{
  @apply p-2 bg-green-300 rounded-lg;  
}

// button{
//   @apply p-2 bg-green-300 rounded-lg;  
// }

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

@tailwind components; 
@tailwind utilities;

.card{
  @apply rounded overflow-hidden shadow-lg p-6 bg-white mb-6;
  .card-header{
    padding: 1rem 0;
    border-bottom: 2px solid rgb(231, 236, 240);
    margin-bottom: 1rem;
    p{
      font-weight: bold;
    }

  }
  .card-body{

  }
}

.input-group{
  label{
    display: block;
    font-size: .875rem;
  }

  input[type='text'], 
  input[type='file'], 
  input[type='email'], 
  input[type='password'], 
  input[type='datetime-local'],  
  input[type='date'],  
  input[type='number'],  
  select, 
  textarea{
    @apply shadow rounded w-full py-2 px-3 outline-none border mb-2 bg-white;
  }

  input[type='text']:focus, 
  input[type='file']:focus, 
  input[type='email']:focus, 
  input[type='password']:focus, 
  input[type='datetime-local']:focus, 
  input[type='date']:focus, 
  input[type='number']:focus, 
  select:focus, 
  textarea:focus{
    @apply border-blue-400;
  }
  
}

.error-msg{
  @apply text-sm text-red-600;
}

.navbar-list{
  @apply  p-2 pl-4 my-1 mx-2 rounded-lg; 

  a{
    i{
      @apply text-gray-500;
    }
    span{
      @apply text-gray-500;
      i{
        @apply text-gray-500;
      }
    }
  }
}

.navbar-list:hover{
  @apply bg-dark-100; 
  a{
    i{
      @apply text-white;
    }
    span{
      @apply text-white;
      i{
        @apply text-white;
      }
    }
  }
}

.navbar-active-list{
  @apply bg-primary p-2 pl-4 my-1 mx-2 rounded-lg; 
  a{
    i{
      @apply text-white;
    }
    span{
      @apply text-white;
      i{
        @apply text-white;
      }
    }
  }
}

.article-form{
  .article-right{
    @apply bg-white border-l;
    width: 400px;
    section{
      @apply py-2 px-3 border-b rounded;
    }
    section:hover{
      background-color: rgb(231, 239, 245);
    }
  }
}

.data-table{
  .bottom{
    @apply align-middle inline-block min-w-full bg-white px-8 py-3 border rounded-bl-lg rounded-br-lg;
    table{
      thead{
        tr{
          th{
            @apply px-6 py-3 border-b-2 leading-4 tracking-wider text-sm;
          }
        }
      }
      tbody{
        tr{
          .non-id{
            @apply px-6 py-4 whitespace-no-wrap border-b text-black text-sm leading-5;
          }
        }
      }
    }
  }
}

// .pagination {
//   list-style: none;
//   padding-left: 0;
//   text-align: center;

//   li{
//     display: inline-block;
//   }

 

//   a {
//     text-decoration: none;
//     padding: 0.2rem 0.4rem;
//     color: red;
//     border: 1px solid red;
//     border-radius: 2px;
//   }
// }

// .table-auto{
//   @apply min-w-full;
//   thead{
//     tr{
//       th{
//         @apply px-4 py-2 text-center;
//       }
//     }
//   }
//   tbody{
//     tr{
//       td{
//         @apply border px-4 py-2 text-left;
//       }
//     }
//   }
// }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 24px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(87, 87, 87);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(65, 64, 64);
}

// @variants group-hover, hover, focus {
//   .nav-item {
//     @apply text-primary;
//   }
// }

